/build
/transaction/build
/magicfactory/build
/datetime/build
/typeser/build
/convert/build
/core/build
/sql/build
/jdbc/build
/jpa/build
/hibernate/build
/eclipselink/build
/openjpa/build
.gradle
.maven-repo
